body {
    background: linear-gradient(to bottom, rgba(235,110,0,1) 0%, 
    rgba(255,150,31,1) 43%, rgba(255,150,31,1) 79%);
}

h1 {
    font-family: 'Leckerli One', cursive;
    text-align: center; 
    font-size: 35px; 
    color: #ffffff;
}

p {
    font-family: 'Exo 2', sans-serif;
    text-align: center; 
    font-size: 1.5em; 
    color: #ffffff;
}

span {
    font-family: 'Righteous', cursive;
    text-align: center; 
    font-size: 1.5em; 
    color: #000000;
}

h5 {
    font-family: 'Bodoni Moda', serif;
    text-align: center; 
    font-size: 1.5em; 
    color: #ffffff;
}

cA {
    font-family: 'Righteous', cursive;
    color: #000000;
}

